<a href="https://colab.research.google.com/github/ankiboyz/MachineLearningLaunchpad/blob/main/Python_Data_Structures_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This repository is all about questions on most prominent data structures in Python. These are put here to provide a swift transition to Hands On Machine Learning using Python.

## Q1. Replace with Cube:
Complete the function replace_cube(), which takes a list and a value N; as inputs and updates every element that is in a position which is a multiple of N, with a number that is the cube of the existing number, in the list and returns the newly updated list.

Note: Here while operating with N, it should be considered that if we say that an element is at index i then its position is (i+1)th. For example, an element at index 1 is actually in the second position.

### Solution 1 to "Replace with Cube": Please look at the solution only once you have attempted it at your end.

In [2]:
def replace_cube(arr, N):
    '''
    input:
    arr -> list of the input numbers
    N -> value of N as mentioned in the question
    
    output:
    res_list -> resultant list formed after doing the required computation as mentioned in the question
    '''
    res_list = None
    # Your code starts here
    # We can also attempt it simply using the List comprehension.
    res_list = [item**3 if item%N == 0 else item for item in arr]    
    
    # Your code ends here
    return res_list

In [3]:
# Test Case 1
arr = [1,2,3,4,5,6,7,8,9]
N = 2
replace_cube(arr, N)

[1, 8, 3, 64, 5, 216, 7, 512, 9]

# A pattern challenge to consolidate the understanding of the various lists.

In [ ]:
def a_new_pattern(odd_num):

    # odd_num = 5
    copy_fig_for_rest_half_list = []
    list_prev = [odd_num]*odd_num
    for i in range(0,(odd_num//2)+1):
      # print(test[0:-odd_num+i], test[-odd_num+i:odd_num-i], test[-odd_num:i])
      # list_new = list_prev[0:-odd_num+i] + [odd_num-i for k in list_prev[-odd_num+i:odd_num-i]] + list(reversed(list_prev[-1:-i-1:-1]))
      # list_new = list_prev[0:-odd_num+i] + [odd_num-i for k in list_prev[-odd_num+i:odd_num-i]] + (list_prev[odd_num-1:(odd_num-1)-i:-1])
      list_new = list_prev[0:-odd_num+i] + [odd_num-i for k in list_prev[-odd_num+i:odd_num-i]] + (list_prev[(odd_num)-i:])

      copy_fig_for_rest_half_list.append(list_new)  
      # print('list_new', list_new)
      [print(x,end=' ') for x in list_new]
      print('', end='\n')

      list_prev = list_new
      # print('list_prev', list_prev)
    inverted_second_half_list = list(reversed(copy_fig_for_rest_half_list[0:-1])) # excluding the last item as it is middle most , n not 2 b repeated.
    for list_item in inverted_second_half_list:
      [print(x,end=' ') for x in list_item]
      print('')

In [ ]:
a_new_pattern(5)

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5