<a href="https://colab.research.google.com/github/ankiboyz/MachineLearningLaunchpad/blob/main/SimpleLinearRegression/1_MLL_SLR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tackling the Simple Linear Regression problem the Partial Derivatives way!

## Creating the Needed Dataframe

In [7]:
# Here, we upload the dataset that is kept under the datasets folder in the MachineLearningLaunchPad github repository.

In [8]:
# importing the needed libraries
import pandas as pd

In [79]:
# The most efficient way would be create a function that would load this dataset in the current working tool memory.

def get_dataset(name):
  """ The function is simple as in it takes the name of the dataset
      and returns the dataset as a dataframe.
      Please note this is a simplistic function for the demonstration purposes 
      of the knowledge covered in this course.
      The objective is the consolidate grasp over the concepts of various techniques in 
      Machine Learning Domain and neccesarily do not consider the performance
      and efficiency aspect in devisisng this function particularly. 
      Performance, Efficiency, Throughput, Latency are the aspects that are 
      dealt with in the separate section of the course as underlined by the 
      Author.
  """

  # Here, we make a constant to refer to the path wherein the datasets are stored.
  REPOS_DATASETS_PATH = "https://github.com/ankiboyz/MachineLearningLaunchpad/blob/main/"

  # import the dataset relative path from the repository.
  import httpimport

  with httpimport.github_repo(username='ankiboyz', repo='MachineLearningLaunchpad', module='datasets_relative_path_config'):
    import datasets_relative_path_config


  # print(datasets_relative_path_config.id_dataset_dict[name])
  # Here, we gather the dataset path corresponding to the name passed in the 
  # get_dataset method.
  # for eg for name=EAWE01 the path "datasets/EAWE01.csv" is gathered.
  dataset_path = datasets_relative_path_config.id_dataset_dict[name]['PATH']

  raw_mode = "?raw=true"

  #Full path is created, after joining the 2 strings.
  EAWE01_df = pd.read_csv(''.join([REPOS_DATASETS_PATH, dataset_path, raw_mode]))

  # print(EAWE01_df.head())

  return EAWE01_df

In [80]:
EAWE01_df = get_dataset('EAWE01')

In [81]:
EAWE01_df.head().style

In [86]:
# Now, we have got the dataset as the dataframe.
# For this challenge, we only need 2 columns i.e column header name as 'S' and 'EARNINGS'
EAWE01_df[['S','EARNINGS']].head()

    S  EARNINGS
0  12     20.00
1  13      7.65
2  11     17.44
3  16     22.60
4  13     13.00

In [88]:
# Creating the work dataframe.
work_df = EAWE01_df[['S','EARNINGS']]

## Simple Linear regression - Via Partial Derivatives 

### The work_df dataframe has two columns.
'**S**' --> a continuous variable, denoting the Years of Schooling (highest grade completed as of 2002)

'**EARNINGS**' --> a continuous variable, denoting the Current hourly earnings in $ reported at the 2002 interview

In [90]:
work_df.head()

    S  EARNINGS
0  12     20.00
1  13      7.65
2  11     17.44
3  16     22.60
4  13     13.00