<a href="https://colab.research.google.com/github/ankiboyz/MachineLearningLaunchpad/blob/main/SimpleLinearRegression/1_MLL_SLR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tackling the Simple Linear Regression problem the Partial Derivatives way!

## Creating the Needed Dataframe

In [1]:
# Here, we upload the dataset that is kept under the datasets folder in the MachineLearningLaunchPad github repository.

In [2]:
# importing the needed libraries
import pandas as pd

In [3]:
# The most efficient way would be create a function that would load this dataset in the current working tool memory.

def get_dataset(name):
  """ The function is simple as in it takes the name of the dataset
      and returns the dataset as a dataframe.
      Please note this is a simplistic function for the demonstration purposes 
      of the knowledge covered in this course.
      The objective is the consolidate grasp over the concepts of various techniques in 
      Machine Learning Domain and neccesarily do not consider the performance
      and efficiency aspect in devisisng this function particularly. 
      Performance, Efficiency, Throughput, Latency are the aspects that are 
      dealt with in the separate section of the course as underlined by the 
      Author.
  """

  # Here, we make a constant to refer to the path wherein the datasets are stored.
  REPOS_DATASETS_PATH = "https://github.com/ankiboyz/MachineLearningLaunchpad/blob/main/"

  # import the dataset relative path from the repository.
  import httpimport

  with httpimport.github_repo(username='ankiboyz', repo='MachineLearningLaunchpad', module='datasets_relative_path_config'):
    import datasets_relative_path_config


  # print(datasets_relative_path_config.id_dataset_dict[name])
  # Here, we gather the dataset path corresponding to the name passed in the 
  # get_dataset method.
  # for eg for name=EAWE01 the path "datasets/EAWE01.csv" is gathered.
  dataset_path = datasets_relative_path_config.id_dataset_dict[name]['PATH']

  raw_mode = "?raw=true"

  #Full path is created, after joining the 2 strings.
  EAWE01_df = pd.read_csv(''.join([REPOS_DATASETS_PATH, dataset_path, raw_mode]))

  # print(EAWE01_df.head())

  return EAWE01_df

In [4]:
EAWE01_df = get_dataset('EAWE01')

In [5]:
EAWE01_df.head().style

In [6]:
# Now, we have got the dataset as the dataframe.
# For this challenge, we only need 2 columns i.e column header name as 'S' and 'EARNINGS'
EAWE01_df[['S','EARNINGS']].head()

    S  EARNINGS
0  12     20.00
1  13      7.65
2  11     17.44
3  16     22.60
4  13     13.00

In [7]:
# Creating the work dataframe.
work_df = EAWE01_df[['S','EARNINGS']]

## Simple Linear regression - Via Partial Derivatives 

### The work_df dataframe has two columns.
'**S**' --> a continuous variable, denoting the Years of Schooling (highest grade completed as of 2002)

'**EARNINGS**' --> a continuous variable, denoting the Current hourly earnings in $ reported at the 2002 interview

In [8]:
work_df.head()
work_df.tail()

      S  EARNINGS
495  11      9.00
496  20     28.95
497  17     28.85
498  13     10.95
499  12      8.75

Here, as we have understood from the session on the Simple Linear Regression, we will try to gather the estimates of the coefficients of the intercept and the single independent variable that we have.


---
The equations are as follows:
And we know: 

n = number of instances.

$X_i$ = ith instance of the independent variable (**Schooling**).

$Y_i$ = ith instance of the dependent variable.(**Earnings**)
![image.png]()

### Solving for the Primary Form.

$b_1 =\frac{\sum_{i=1}^nX_iY_i - n\overline{X}\overline{Y}}{\sum_{i=1}^nX_i^2-n\overline{X}^2}$ and $b_0 = \overline{Y}-b_1*\overline{X}$

In [9]:
# Calculating b1 first.

# Step 1 - taking sum of S and EARNINGS, so that mean of them can be calculated.
sum_S = work_df['S'].sum()
sum_EARNINGS = work_df['EARNINGS'].sum()
n = len(work_df.index)

# Calculating the mean values.
mean_S = sum_S/n
mean_EARNINGS = sum_EARNINGS/n

# Calculating squared sum of the independent variables i.e. S.
squared_sum_S = sum(list(map(lambda x:x**2, work_df['S'])))

# Calculating product sum of the independent variables i.e. S. and the dependent variable i.e EARNINGS.
product_sum_S_EARNINGS = sum(list(map(lambda x,y:x*y , work_df['S'], work_df['EARNINGS'])))

# Calculating square of mean_S.
mean_S_squared = mean_S**2

# b1 formulae.
b1 = ((product_sum_S_EARNINGS - n*(mean_S)*(mean_EARNINGS)) / ((squared_sum_S) - n*(mean_S**2)))

print(sum_S, sum_EARNINGS, n, mean_S, mean_EARNINGS, squared_sum_S, product_sum_S_EARNINGS, mean_S_squared, b1)

7274 9172.88 500 14.548 18.34576 109678 137490.56000000006 211.644304 1.048667312611927

In [10]:
# Calculating b0
b0 = mean_EARNINGS - (b1*mean_S)

print(b0)

3.089747936121684

#### So, we have the following equation:

$\hat{Y} = b_0 + b_1*X$ (substituting the values of $b_0,b_1$ as inferred from above)

$\hat{Y} = 3.1 + 1*X$ ( $b_0,b_1 $ rounded off to the first decimal place)

Let's now plot the actual and the predicted EARNINGS value against the Schooling (S)

In [13]:
# Specifying the variables to be plotted.
S = work_df['S']
actual_EARNINGS = work_df['EARNINGS']
predicted_EARNINGS = pd.Series(map(lambda x : 3.1+1*x, S))

print(type(predicted_EARNINGS), len(predicted_EARNINGS))

<class 'pandas.core.series.Series'> 500

In [ ]:
# Simple Chart.